@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "lato";
    src: url('../font/Lato/Lato-Regular.woff');
    src: url('../font/Lato/Lato-Regular.ttf') format('true type');
}

@font-face {
    font-family: "lato-italic";
    src: url('../font/Lato/Lato-Italic.woff');
    src: url('../font/Lato/Lato-Italic.ttf') format('true type');
}

@font-face{
    font-family: "lato-bold";
    src: url('../font/Lato/Lato-Bold.woff');
    src: url('../font/Lato/Lato-Bold.ttf') format('true tyype');
}

*{
    box-sizing: border-box;
    font-family: raleway,sans-serif;
}